@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --root-font-size: 16px;
  /* 展示区主色调 */
  background-color: #F4F4F5; 
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} 
*/
html{
  font-size: var(--root-font-size);
}

body {
  color: rgb(var(--foreground-rgb));
  /* .no-scrollbar {
    scrollbar-width: none; 
    overflow: auto; 
  } */
  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    overflow: auto; /* Ensures content is still scrollable */
  }
  /* For Webkit browsers */
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }

  .single-line-ellipsis {
    white-space: nowrap;      /* 确保文本在一行内显示 */
    overflow: hidden;         /* 隐藏溢出的内容 */
    text-overflow: ellipsis;  /* 使用省略号表示被截断的文本 */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
